/* Variables */
:root {
  --primary-color:#465C88;
  --secondary-color: #FF7A30;
  --background-color:  #212121;
  --light-grey:#3b3b3b;
  --primary-text-color: #d8cac0;
  --secondary-text-color: #777676;
  --font-family: 'General Sans', sans-serif;
  --font-size: 15px
}

/* HTML reset */

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color:var(--background-color);
  color: var(--primary-text-color);
}

body {
  width: 60vw;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 900px) {

  body {
    width: 100vw;
    padding: 10vh 5vw;
  }
}
