#tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 45vh;
    border-radius: 10px;
    padding: 0 30px;
}

#tasks-list::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

#tasks-list::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 10px;
}
